.profile-container{
    border-bottom: 1px slategrey solid;
    width: 100%;
    max-width: 1180px;
    padding: 0 30px;
    margin: 32px auto;
    display: flex;
}   
.profile-container div{
    padding: 120px;
    border: 1px black solid;
}
.profile-container div.userData{
    /* border: 1px solid black; */
    width: 100%;
    justify-content: left;
    align-items: left;
    text-align: start;
}







.profile-container-posts{
    width: 100%;
    max-width: 1180px;
    padding: 0 30px;
    margin: 32px auto;
}
.profile-container-posts ul{
    display: block;
    list-style: none;
}
.profile-container-posts ul li{
    background: #FFF;
    padding: 24px;
    border-radius: 8px;
    position: relative;
    border: #999 solid 1px;
    object-fit: scale-down;
    display: flex;
}
.profile-container-posts ul li strong{
    /* display: inline; */
    margin-bottom: 4px;
    margin-top: 4px;
    color: #41414d;
}
.profile-container-posts li + li{
    margin-top: 16px
}