.new-post-container{
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.new-post-container .content{
    width: 100%;
    padding: 96px;
    background: #f0f0f5;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.new-post-container .content section{
    width: 100%;
    max-width: 380px;
}
.new-post-container .content section h1{
    margin: 64px 0 32px;
    font-size: 32px;
}
.new-post-container .content section p{
    font-size: 18px;
    color: #737380;
    line-height: 32px;
}
.new-post-container .content form{
    width: 100%;
    max-width: 450px;
}
.new-post-container .content form input, textarea{
    margin-top: 8px;
}
form button{
    margin-top: 16px;
    width: 100%;
}
.new-post-container .content section .img{
    height: 50%;
    max-height: 200px;
    justify-content: center;
    align-items: center;
    margin-top: 30%;
}
